REGION=us-east-1
STAGE=dev
VALIDATOR_FUNCTION_ARN=arn:aws:lambda:us-east-1:910814957121:function:jwt-validator
TOKEN_MANAGER_FUNCTION_ARN=arn:aws:lambda:us-east-1:910814957121:function:user-manager
ACCOUNT_ID=910814957121
API_URL=https://5sq9raqfkb.execute-api.us-east-1.amazonaws.com/dev
API_URL=https://6gtyo955n1.execute-api.us-east-1.amazonaws.com/dev
API_URL=https://vghh1rv1a4.execute-api.us-east-1.amazonaws.com/dev
